body {
    background-image: url('https://cdn.pixabay.com/photo/2017/12/24/00/13/abstract-background-3036235_960_720.jpg');
    font-family: Arial;
    background-size: 100%;
    height: 100vh;
  }
  .title{
    text-align: center;
    color: white;
  }
  .sub-title{
    color: #ff2222;
  }
  .menu{
    background-color: white;
  }
  a {
    text-decoration: none; /*Exclui sublinhado hiperlink */
    color: black;
    font-size: 18px;
  }
  
  /*habilita linha quando mouse passa por cima */
  a:hover{
    text-decoration: underline;
    color: blue;
    background-color: yellow;
  }
  
  .menu ul{
    /*quebra o formato da lista, deixando horizontal */
    display: flex;
    justify-content: space-around;
  }
  
  .menu li{
    /*Retira marcador das listas */
    list-style: none;
    
  }